h1,
h2,
h3,
h4 {
  margin: 0px;
  padding: 0px;
}
img {
  vertical-align: top;
}
a {
  text-decoration: none;
}
ul,
li,
dd,
dl,
dt,
p {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
body {
  margin: 0px;
  padding: 0px;
}
html,
body {
  width: 100%;
  height: 100%;
}
.le {
  float: left;
}
.ri {
  float: right;
}
.cl {
  clear: left;
}
.cr {
  clear: right;
}
header {
  outline: 1px red solid;
  width: 100%;
  height: 80px;
  background-color: rgba(255, 193, 144, 0.8);
  position: fixed;
  z-index: 2;
}
.nav {
  width: 1920px;
}
.all {
  padding: 0 40px;
  outline: 1px red solid;
  max-width: 1580px;
  margin: 0 auto;
}
.logo {
  margin-top: 10px;
  outline: 1px red solid;
}
.category {
  outline: 1px red solid;
  margin-top: 20px;
}
.category > ul {
  font-size: 0px;
  text-align: center;
}
.category > ul > li {
  outline: 1px red solid;
  width: 150px;
  display: inline-block;
  font-size: 15px;
  margin: 0px 10px;
}
.main-intro {
  width: 100%;
  hegith: 100%;
  height: 100vh;
  background-image: url(../img/main-img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #fff;
}
.main-intro .text {
  outline: 1px black solid;
}
.main-intro .main {
  position: absolute;
  top: 30%;
  outline: 2px blue solid;
  width: 500px;
  height: 300px;
  left: 200px;
}
.main-intro .main-text {
  outline: 2px black solid;
}
.main-intro .position-top {
  position: absolute;
  top: 20px;
}
.main-intro .position-middle {
  position: absolute;
  top: 50px;
}
.main-intro .text-bottom {
  outline: 2px black solid;
  font-size: 24px;
  position: absolute;
  top: 100px;
}
.main-intro .btn-box {
  position: absolute;
  top: 180px;
  left: 5px;
  width: 160px;
  height: 60px;
  outline: 1px black solid;
  font-size: 0px;
}
.main-intro .btn-box > a {
  display: inline-block;
  font-size: 15px;
  width: 100%;
  height: 100%;
}
.down {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  text-align: center;
  outline: 1px red solid;
  z-index: 2;
  transform: translateY(-100%);
}
.down > ul > li {
  outline: 1px red solid;
  width: 100px;
  height: 30px;
  margin: 0 auto;
}
.risize-position {
  outline: 1px red solid;
  width: 100%;
}
.risize-position > div {
  padding-top: 80px;
  height: 300px;
  outline: 2px blue solid;
  text-align: center;
  background-color: #ffeccc;
}
.risize-position > div > p {
  outline: 1px red solid;
  width: 500px;
  height: 80px;
  margin: 0 auto;
  font-size: 25px;
}
.Profile-img {
  outline: 1px red solid;
  width: 100%;
  position: relative;
}
.Profile-img ul > li {
  position: absolute;
  top: -80px;
  left: 47%;
  outline: 1px red solid;
  width: 150px;
  height: 150px;
  margin: 0 auto;
}
.Profile {
  outline: 1px red solid;
  width: 100%;
  height: 500px;
  position: relative;
}
.padding-area {
  padding: 0px 40px;
}
.site {
  width: 40%;
  margin-top: 70px;
  margin-right: 10%;
  text-align: right;
}
.site ul > li {
  margin-bottom: 10px;
}
.site > h1 {
  margin-bottom: 20px;
}
.main-text {
  width: 40%;
  margin-top: 70px;
  margin-left: 10%;
}
.main-text ul > li {
  margin-bottom: 10px;
}
.main-text > h1 {
  margin-bottom: 20px;
}
.btn-height {
  outline: 1px black solid;
  width: 100%;
  margin-top: 30px;
}
.left-right-switch {
  outline: 1px black solid;
  max-width: 1920px;
}
.left-right-switch > div {
  padding: 0px 40px;
  text-align: center;
  position: relative;
}
.hidden {
  outline: 1px red solid;
  height: 2630px;
}
.left-text {
  width: 50%;
  outline: 1px blue solid;
  text-align: center;
}
.left-text > ul > h2 {
  outline: 1px red solid;
  margin-bottom: 20px;
  margin-top: 50px;
}
.left-text > ul > li {
  margin-top: 30px;
}
.left-text .paragraph {
  outline: 1px red solid;
  width: 40px;
  height: 40px;
  margin: 0 auto;
  line-height: 2.5;
  font-size: 0px;
}
.left-text .paragraph > img {
  outline: 1px red solid;
  width: 25px;
  height: 25px;
  display: inline-block;
  font-size: 10px;
  margin-top: 8px;
}
.right-text {
  width: 50%;
  outline: 1px blue solid;
}
.right-text > ul > h2 {
  outline: 1px red solid;
  margin-bottom: 20px;
  margin-top: 50px;
}
.right-text > ul > li {
  margin-top: 30px;
}
.switch {
  width: 20%;
  height: 100%;
  font-size: 0px;
}
<<<<<<< HEAD
.switch > span {
=======
.switch .bottom {
  outline: 1px black solid;
  font-size: 10px;
  display: inline-block;
  width: 142px;
  height: 396px;
  position: absolute;
  top: 700px;
  left: 48%;
}
.switch .top {
>>>>>>> a99016c53aa87c656c8c9ad5d62c28d2e30864a1
  display: inline-block;
  width: 142px;
  height: 396px;
  font-size: 10px;
  outline: 1px red solid;
  background-image: url(../img/btn-h.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  left: 48%;
}
<<<<<<< HEAD
.switch > span > a {
=======
.switch .top > a {
>>>>>>> a99016c53aa87c656c8c9ad5d62c28d2e30864a1
  display: inline-block;
  font-size: 10px;
  width: 70px;
  height: 68px;
  outline: 1px red solid;
  position: absolute;
  top: 15px;
  left: 12px;
}
<<<<<<< HEAD
.down-switch {
  outline: 1px red solid;
  width: 100%;
  height: 500px;
  position: relative;
=======
.ssss {
  outline: 1px black solid;
  height: 500px;
  width: 100%;
}
.123 {
  max-width: 1920px;
}
.123 > div {
  padding: 0px 40px;
}
footer {
  outline: 1px red solid;
  height: 400px;
  text-align: center;
>>>>>>> a99016c53aa87c656c8c9ad5d62c28d2e30864a1
}
