// out:renewal.css, sourcemap: false, compress: false

                  //초기화//
                  h1,h2,h3,h4{margin:0px; padding:0px;}
                  img{vertical-align:top;}
                  a{text-decoration:none;}
                  ul,li,dd,dl,dt,p{list-style:none; margin:0px; padding:0px;}
                  body{margin:0px;padding:0px;}
                  html,body{width:100%; height:100%;}

                    //옵션//
                  .le{float:left};
                  .ri{float:right};
                  .cl{clear:left};
                  .cr{clear:right};
      // background-image: url(../img/main.jpg);
        //헤더 시작
            header{ outline:1px red solid; width:100%; height:80px; background-color:rgba(255, 193, 144, 0.8);
                    position:fixed; z-index:2;}
                  .nav{width:1920px;}
                  .all{padding:0 40px; outline:1px red solid; max-width:1580px; margin:0 auto;}
                  .logo{margin-top:10px; outline:1px red solid;}
                  .category{outline:1px red solid; margin-top:20px;
                          >ul{font-size:0px; text-align:center;}
                        >ul>li{outline:1px red solid; width:150px; display:inline-block; font-size:15px; margin:0px 10px;}
                            }
              .main-intro{width:100%; hegith:100%; height:100vh;
                          background-image:url(../img/main-img.jpg); background-repeat:no-repeat;
                          background-size:cover; background-position:center; color:#fff;
                        .text{outline:1px black solid;}
                        .main{position:absolute; top:30%; outline:2px blue solid; width:500px; height:300px; left:200px;}
                        .main-text{outline:2px black solid;}
                        .position-top{position:absolute; top:20px;}
                        .position-middle{position:absolute; top:50px;}
                        .text-bottom{outline:2px black solid; font-size:24px; position:absolute; top:100px;}
                        .btn-box{position:absolute; top:180px; left:5px; width:160px; height:60px; outline:1px black solid; font-size:0px;
                            >a{display:inline-block; font-size:15px; width:100%; height:100%;}
                         }
                      }
                .down{position:absolute; top:100%; left:0; width:100%; text-align:center; outline:1px red solid; z-index:2;
                      transform: translateY(-100%);
                   >ul>li{outline:1px red solid; width:100px; height:30px; margin:0 auto;}
                     }
              .risize-position{ outline:1px red solid; width:100%;
                      >div{padding-top:80px; height:300px; outline:2px blue solid; text-align:center;
                           background-color: rgb(255, 236, 204);
                        >p{outline:1px red solid; width:500px; height:80px; margin:0 auto; font-size:25px;}
                          }
                              }
              .Profile-img{outline:1px red solid; width:100%; position:relative;
                        ul>li{position:absolute; top:-80px; left:47%;outline:1px red solid; width:150px; height:150px; margin:0 auto;}
                        }
              .Profile{outline:1px red solid; width:100%; height:500px; position:relative; }
              .padding-area{padding:0px 40px;}
                    .site{ width:40%;  margin-top:70px; margin-right:10%; text-align:right;
                                ul>li{margin-bottom:10px;}
                                    >h1{margin-bottom:20px;}
                                      }
                    .main-text{width:40%; margin-top:70px; margin-left:10%;
                                ul>li{margin-bottom:10px;}
                                    >h1{margin-bottom:20px;}
                                      }



                .btn-height{outline:1px black solid; width:100%; margin-top:30px;}
                    .left-right-switch{outline:1px black solid; max-width:1920px;
                                    >div{ text-align:center; position:relative;}
                                  }

                     .hidden{outline:1px red solid; height:1630px; background-image: url(../img/background.png); display:none;}
                     .left-text{width:50%; outline:1px blue solid; text-align:center; color:#fff;
                            >ul>h2{outline:1px red solid; margin-bottom:20px; margin-top:50px;}
                            >ul>li{margin-top:30px;}
                          .paragraph{outline:1px red solid; width:40px; height:40px; margin:0 auto; line-height:2.5; font-size:0px;
                                >img{outline:1px red solid; width:25px; height:25px; display:inline-block; font-size:10px; margin-top:8px;}
                                 }

                                }
                     .right-text{width:50%; outline:1px blue solid; color:#fff;
                       >ul>h2{outline:1px red solid; margin-bottom:20px; margin-top:50px;}
                       >ul>li{margin-top:30px;}
                                }



                     .switch{width:100%; height:100%; font-size:0px; position:relative;
                        >span{display:inline-block; width:100%; height:295px; font-size:10px; outline:1px red solid; }
                      .bottom{outline:1px black solid; font-size:10px; display:inline-block; width:100%; height:295px;
                              position:absolute; top:0; left:0; display:none;
                            >a{display:inline-block; font-size:10px; width:272px; height:250px; outline:1px red solid;
                               position:absolute; top:36px; left:813px; z-index:4;}
                             }
                        .top{display:inline-block; width:100%; height:295px; font-size:10px; outline:1px red solid;
                             background-image:url(../img/point.png); z-index:3;
                             background-repeat:no-repeat; background-size:cover; background-position:center;
                            >a{display:inline-block; font-size:10px; width:272px; height:250px; outline:1px red solid;
                               position:absolute; top:36px; left:813px; z-index:4;
                                }
                                }
                              }

                      .down-switch{outline:1px red solid; width:100%; height:500px; position:relative;}

                    //슬라이드 텍스트 구간//
                    #slider{outline:1px black solid; height:500px; width:100%; background-color:#ffd9a2; margin-top:327px;}
                    .slider-a{ max-width:1920px; padding:0 40px;}
                    .slider-text{outline:1px black solid; text-align:center; padding:40px; color:#353535;
                      >h3{font-size:20px;}
                    }
                    //슬라이드 텍스트 구간 종료//

                    //슬라이드 버튼 구간
                    #slider-btn{position:relative;
                      .btn-right{position:absolute; top:120px; left:1760px; width:50px; height:50px; display: inline-block; z-index: 2;

                      }
                      .btn-left{position:absolute; top:120px; left:20px;width:50px; height:50px; display: inline-block; z-index: 2;

                      }
                    }
                    //슬라이드 버튼구간 종료//

                     //슬라이드 구간이미지란 //
                      .slider{border:1px black solid; overflow:hidden;
                      >.list{width:6070px; font-size:0px; position:relative;}
                      >.list>li{display:inline-block; width:600px; height:340px; margin-left:7px; font-size:15px; overflow:hidden;}
                      }
                      .atom>a{display:inline-block; width:100%; height:100%;
                         >img{width:100%;}
                      }
                      .photoshop>a{display:inline-block; width:100%; height:100%;
                         >img{width:100%;}
                      }
                      .github>a{display:inline-block; width:100%; height:100%;
                         >img{width:100%;}
                       }
                      .photoshop1>a{display:inline-block; width:100%; height:100%;
                        >img{width:100%;}
                      }
                      .photoshop2>a{display:inline-block; width:100%; height:100%;
                        >img{width:100%;}
                      }
                      .photoshop3>a{display:inline-block; width:100%; height:100%;
                        >img{width:100%;}
                      }
                      .atom1>a{display:inline-block; width:100%; height:100%;
                        >img{width:100%;}
                      }
                      .atom2>a{display:inline-block; width:100%; height:100%;
                        >img{width:100%;}
                      }
                      .photoshop4>a{display:inline-block; width:100%; height:100%;
                        >img{width:100%;}
                      }
                      .atom3>a{display:inline-block; width:100%; height:100%;
                        >img{width:100%;}
                      }
                    //슬라이드 구간 end//

                //그래프 구간
                #graph{outline:1px red solid; width:100%;
                      >h3{margin:20px 0px; text-align:center; font-size:20px;}
                  .program{width:100%; outline:1px black solid; max-width:1520px; margin:0 auto; height:600px;
                          >ul{padding:0 40px; position:relative; width:200px;}
                        >ul>li{width:200px; height:100px; outline:1px red solid; text-align:center; line-height:6;}
                            }
                  .container{width:1240px; outline:1px red solid; height:100px;
                            >h3{margin:15px;}
                  .progress-bar{background-color:#337ab7; color:#fff; height: 100%; font-size: 12px;
                                line-height:34px;
                          >.sr-only{font-size:24px;}
                        }
                  }
                        }

          footer{outline:1px red solid; height:400px; text-align:center;}
